<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="17542NahuelGomezCastro.UniTube" Publisher="CN=C2FF9EFA-BAA6-4DB2-A031-439014A0F01E" Version="1.2.0.0" />
  <mp:PhoneIdentity PhoneProductId="a3678f2b-bac1-4700-9459-ccd147373438" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>UniTube</DisplayName>
    <PublisherDisplayName>Nucleux Software</PublisherDisplayName>
    <Logo>Assets\StoreLogo\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UniTube.App">
      <uap:VisualElements DisplayName="UniTube Alpha" Square150x150Logo="Assets\MediumTile\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo\Square44x44Logo.png" Description="UniTube" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\WideTile\Wide310x150Logo.png" ShortName="UniTube" Square310x310Logo="Assets\LargeTile\LargeTile.png" Square71x71Logo="Assets\SmallTile\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen\SplashScreen.png" BackgroundColor="#D32F2F" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>